<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta name="description" content="find out price of fuel here">
    <meta name="keywords" content="portfolio, fuel, petrol, cost, price, bootstrap, mobile responsive, personal">
    <meta name="author" content="Robert Chiu">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("@pp", "Index", "Home", new { state = string.Empty, area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Stations", "index", "Site")</li>
                    <li>@Html.ActionLink("News", "index", "Article")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("@dmin", "RoleAddToUser", "Account")</li>
                    }
                    <li>@Html.Partial("_LoginPartial")</li>
                    
                </ul>
               
            </div>
        </div>
    </nav>

    @RenderBody()

    <!-- Footer
    ================================================== -->
    <div id="tf-footer">
        <div class="container">
            <!-- container -->
            <p class="pull-left">© 2015 @@pp. All rights reserved.</p> <!-- copyright text here-->
            <ul class="list-inline social pull-right">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li> <!-- Change # With your FB Link -->
                <li><a href="#"><i class="fa fa-twitter"></i></a></li> <!-- Change # With your Twitter Link -->
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li> <!-- Change # With your Google Plus Link -->
                <li><a href="#"><i class="fa fa-youtube"></i></a></li> <!-- Change # With your Youtube Link -->
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li> <!-- Change # With your Pinterest Link -->
            </ul>
        </div><!-- end container -->
    </div>

    
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            var url = window.location;
            // Will only work if string in href matches with location
            $('ul.nav a[href="' + url + '"]').parent().addClass('active');

            // Will also work for relative and absolute hrefs
            $('ul.nav a').filter(function () {
                return this.href == url;
            }).addClass('scroll active');
        });
    </script>
    
</body>
</html>
